.App {
  text-align: center;
}
.heading{
  font-style: oblique;
    color: aqua;
}
h1{
  width: 100%;
  height: 90px;


}
.form-styling{
  display: flex;
  justify-content: space-evenly;

}
.texting{
  margin-right: 20px;
  width: 250px;
}
.textings{
  background-color: aqua;
}
.filter{
  
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.todo-list{
  display:inline-block
}
.todo-card{
  display: flex;
  justify-content: space-evenly;
}

.savedtodo{
  display: grid;
    align-content: stretch;
    background-color: lavender;
    margin: 50px;
    border-radius: 10px;
    height: 220px;
    width: 220px;
}

.listsstyling{
  display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.dropdown{
  width: 150px;
}