.App {
  text-align: center;
}
.heading{
  font-style: oblique;
    color: aqua;
}
.form-styling{
  
}
.texting{
  margin-right: 20px;
  width: 250px;
}
.textings{
  background-color: aqua;
}
.filter{
  
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.todo-list{
  display:inline-block
}